<div class="navbar-right navbar-brand">
  <%= link_to 'Invite Friends', new_user_friend_path(current_user.id)%>
</div>
<div class="col-lg-3" id="my_friend">
	<%= render :partial => 'my_friend'%>
	
</div>
<% if @pending_request.present? %>
<div class="col-lg-3">
  <table class="table table-striped table-bordered">
  <th><h2>Pending Request</h2></th>
  <% @pending_request.each do |pending_request|%>
    <div>
      <tr>
        <td class="active"><%= pending_request.user_name %></td>
      </tr>
    </div>
   <% end %>
  </table>
</div>
<% end %>
