<%= form_for :user, :url => send_password_users_path do |f|%>
    
  <div>
    <%= f.label :Please_Enter_Your_Email %><br>
    <%= f.text_field(:email, placeholder: "Email") %>
  </div>
  <div>
   <%= f.submit 'OK'%>
  </div>
<% end%>  
