<div>
  <div>
	<strong><%= @album.name %></strong>
	<strong style="margin-left: 500px"><%= "Description: "+@album.description %></strong>
  </div>
 <div id="delete_photo">
    <%= render :partial => 'delete_photo', :locals => {album: @album} %>
  </div> 
</div>  




