<p>Hello user please sign to Gralbum and reset your details</p>
<p>Your sign id is <%= @user.email %></p>
<p>Your default password is <%= @user.password%></p>
<p>Sign here http://localhost:3000/users/sign_in</p>